@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Light.eot?') format('eot'), 
         url('fonts/Roboto-Light.woff') format('woff'), 
         url('fonts/Roboto-Light.ttf')  format('truetype'),
         url('fonts/Roboto-Light.svg#Roboto-Light') format('svg');
    font-weight: 300;
}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.eot?') format('eot'), 
         url('fonts/Roboto-Regular.woff') format('woff'), 
         url('fonts/Roboto-Regular.ttf')  format('truetype'),
         url('fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Medium.eot?') format('eot'), 
         url('fonts/Roboto-Medium.woff') format('woff'), 
         url('fonts/Roboto-Medium.ttf')  format('truetype'),
         url('fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
}
body {
	margin: 0;
	padding: 0;
	font-size: 15px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    min-width: 320px;
}
.visible { display: block !important; }
.body-hidden { overflow: hidden; }
.header {
	background-color: #00bcd4;
    box-sizing: border-box;
    border-radius: 0px;
    position: fixed;
    z-index: 1001;
    width: 100%;
    display: flex;
    min-height: 64px;
    padding-left: 24px;
    padding-right: 24px;
    top: 0;
}
.header__mobile {
    float: left;
    border: 10px;
    background: none;
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    position: relative;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    padding: 12px;
    width: 48px;
    height: 48px;
    margin-top: 8px;
    margin-right: 8px;
    margin-left: -16px;
    display: none;
}
.mobile__svg {
    display: inline-block;
    height: 24px;
    width: 24px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    fill: #ffffff;
    color: #ffffff;
    -webkit-user-select: none;
}
.header__title {
    float: left;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    padding-top: 0;
    letter-spacing: 0;
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
    line-height: 64px;
    flex: 1;
}
.container {
	padding-top: 64px;
    padding-left: 256px;
}
.container__margins {
	margin: 48px 72px;
}
.margins__block {
	margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 10px;
    text-size-adjust: 100%;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
    word-wrap: break-word;
}
.margins__block div>:nth-child(1) {
	margin-top: 0 !important;
}
.margins__block div>:last-child {
	margin-bottom: 0 !important;
}
.margins__block h1, .block__header {
    margin-top: 2.5em;
	padding-bottom: .3em;
    font-size: 1.5em;
    line-height: 1.334;
    border-bottom: 1px solid #eee;
    margin-bottom: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, .87);
}
.margins__block p {
	margin-top: 0;
	text-size-adjust: 100%;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
    word-wrap: break-word;
}
.background {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: -100%;
    opacity: 0;
    will-change: opacity;
    transform: translateZ(0px);
    transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 400ms, opacity 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    z-index: 1002;
    background-color: rgba(0, 0, 0, 0.541176);
}
.background-active {
    left: 0px;
    opacity: 1;
    transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.sidebar {
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
    border-radius: 0px;
    height: 100%;
    width: 256px;
    position: fixed;
    z-index: 1000;
    left: 0px;
    top: 0px;
    overflow: auto;
    background-color: rgb(255, 255, 255);
}
.sidebar-active {
    transform: translate3d(0px, 0px, 0px) !important;
    z-index: 1003;
}
.sidebar__title {
    font-size: 24px;
    color: rgba(255, 255, 255, 1);
    line-height: 64px;
    font-weight: 300;
    background-color: #00bcd4;
    padding-left: 24px;
    margin-bottom: 8px;
}
.sidebar__menu {
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.menu__button {
    overflow: hidden;
    border: 10px;
    box-sizing: border-box;
    display: block;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    transform: translate3d(0px, 0px, 0px);
    color: rgba(0, 0, 0, 0.870588);
    font-size: 16px;
    line-height: 16px;
    position: relative;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.menu__button:after, .submit-div__button:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 256px;
  height: 256px;
  margin-left: -128px;
  margin-top: -128px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  opacity: .6;
  z-index: 99;
  transform: scale(0);
}

.menu__button:not(:active):after, .submit-div__button:not(:active):after {
  animation: ripple 1s ease-out;
}
.menu__button:after, .submit-div__button:after {
  visibility: hidden;
}

.menu__button:focus:after, .submit-div__button:focus:after {
  visibility: visible;
}
.menu__button:hover {
    background: none rgba(0, 0, 0, 0.0980392);
}
.menu__button-active {
	background-color: rgba(0,0,0,0.2) !important;
}
.button_invisible {
	height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.button__text {
	margin-left: 0;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-top: 16px;
    position: relative;
    z-index: 100;
}
@media (max-width: 974px) {
	.container {
		padding-left: 0;
	}
	.sidebar {
		transform: translate3d(-266px, 0px, 0px);
	}
    .header__mobile {
        display: inline-block;
    }
}
@media (max-width: 750px) {
	.container__margins {
		margin: 24px;
	}
}

/* Form */

input, button { font: inherit; }
.form__textinput {
    margin-top: 14px;
    font-size: 16px;
    line-height: 24px;
    width: 100%; 
    height: 72px;
    display: inline-block;
    position: relative;
    background-color: transparent;
    transition: height 200ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.form__textinput:first-child { margin-top: 0; }
.block__form .form__textinput:last-child { margin-bottom: 14px; }
.textinput__label {
    position: absolute; 
    line-height: 22px; 
    top: 36px; 
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; 
    z-index: 1; 
    cursor: text; 
    transform: scale(1) translate3d(0px, 0px, 0px); 
    transform-origin: left top 0px; 
    pointer-events: auto; 
    color: rgba(0, 0, 0, 0.298039); 
    -webkit-user-select: none;
}
.textinput__label-focus {
    transform: perspective(1px) scale(0.75) translate3d(2px, -28px, 0px);
    pointer-events: none; 
    color: rgb(0, 188, 212);
}
.textinput__input::placeholder {
    position: absolute; 
    opacity: 0; 
    color: rgba(0, 0, 0, 0.298039); 
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; 
    bottom: 12px;
}
.textinput__input-place::placeholder { opacity: 1; }
.textinput__input {
    z-index: 100;
    tap-highlight-color: rgba(0,0,0,0);
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    margin-top: 12px;
}
.textinput__hr-grey {
    border: none;
    border-bottom: solid 1px;
    border-color: #e0e0e0;
    bottom: 8px;
    box-sizing: content-box;
    margin: 0;
    position: absolute;
    width: 100%;
}
.textinput__hr-green {
    border-style: none none solid;
    border-bottom-width: 2px; 
    border-color: rgb(0, 188, 212); 
    bottom: 8px; 
    box-sizing: content-box; 
    margin: 0px; 
    position: absolute; 
    width: 100%; 
    transform: scaleX(0); 
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.textinput__hr-visible { transform: scaleX(1); }
.textinput__error {
    display: none;
    position: absolute;
    bottom: -10px;
    font-size: 12px;
    line-height: 12px;
    color: #f44336;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.textinput__label-error { color: rgb(244, 67, 54); }
.textinput__hr-red { 
    border-color: #f44336; 
    transform: scaleX(1); 
}
.form__submit-container {
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; 
    box-sizing: border-box; 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px; 
    border-radius: 2px; 
    display: inline-block; 
    min-width: 88px; 
    height: 36px; 
    margin: 46px 28px 0 0;
    background-color: rgb(255, 255, 255);
}
.submit-div__button {
    border: 10px;
    background: none;
    box-sizing: border-box;
    display: inline-block;
    tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    text-decoration: none;
    outline: none;
    transform: translate3d(0, 0, 0);
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0;
    overflow: hidden;
    border-radius: 2px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    background-color: #00bcd4;
    -webkit-appearance: button;
}
.submit-div__button:after {
    width: 158px;
    height: 158px;
    margin-left: -79px;
    margin-top: -79px;
    background: rgba(255, 255, 255, 0.25);
}
.button__animation {
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; 
    top: 0px;
}
.animation__text {
    position: relative;
    opacity: 1;
    font-size: 14px;
    letter-spacing: 0;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
    padding-left: 16px;
    padding-right: 16px;
    line-height: 36px;
    color: #ffffff;
    -webkit-user-select: none;
}
.form__submit-container:hover .button__animation {
    background-color: rgba(255, 255, 255, 0.4);
}
.form__submit-container:active {
    box-shadow: rgba(0, 0, 0, 0.156863) 0 3px 10px, rgba(0, 0, 0, 0.227451) 0 3px 10px;
}
.form__submit-container-disabled {
    background-color: #ffffff;
    box-shadow: none;
}
.form__submit-container-disabled .submit-div__button {
    cursor: default;
    background-color: rgb(229,229,229);
}
.form__submit-container-disabled .animation__text { color: rgba(0,0,0,0.3); }
.form__submit-container-disabled:hover .button__animation { background-color: transparent; }
.form__submit-container-disabled:active { box-shadow: none; }
.form__message {
    display: none;
    font-size: 12px;
    line-height: 36px;
    color: #f44336;
}
.form__message-ok { color: #00bcd4; }
.form__message-visible { display: inline; }

/* Contacts */

.block__error { margin-bottom: 16px; }
.block__contact {
    background-color: #ffffff;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    margin-bottom: 16px
}
.contact__container {
    padding: 16px;
    font-weight: 500;
    box-sizing: border-box;
}
.container__box {
    display: inline-block;
    vertical-align: top;
}
.box__name {
    color: rgba(0, 0, 0, 0.87);
    display: block;
    font-size: 15px;
}
.box__phone {
    color: rgba(0, 0, 0, 0.54);
    display: block;
    font-size: 14px;
}
.box__href {
    color: rgba(0, 0, 0, .87);
}
.box__href:hover { text-decoration: none; }

/* Keyframes */

@keyframes ripple {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}