<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><%= htmlWebpackPlugin.options.title%></title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="shortcut icon" href="/favicon.ico" />
		<% if (htmlWebpackPlugin.options.mobile) { %><meta name="viewport" content="width=device-width, initial-scale=1"><% } %>
		<% for (var css in htmlWebpackPlugin.files.css) { %><link rel="stylesheet" type="text/css" href="/<%= htmlWebpackPlugin.files.css[css] %>" /><% } %>
	</head>
	<body>
		<div id="content"></div>
		<% for (var js in htmlWebpackPlugin.files.js) { %><script src="/<%= htmlWebpackPlugin.files.js[js] %>" type="text/javascript"></script><% } %>
	</body>
</html>